*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

.titulo {
    font-family: 'Birthstone Bounce', cursive;
}



.contenedor {
    display: flex;
    background-color: #ffb4b0;
    flex-direction: column;
    align-items: center;

}


.navegador ul{
    display: flex;
    list-style: none;
    gap: 20px;
}


.navegador ul li a:hover{
    background-color:#d757f6;
    border-radius: 10px;
}

ul{
    text-align: center;
}

.imagenes-inicio{
    display: grid;
    grid-template-columns: auto auto auto auto ;
    gap: 35px;
    
} 

.imagenes-inicio img{
    width: 200px;
    height: 150px;

}
